@{
    Page.Title = "Detail";
    Layout = "~/M2Git/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="offset-3 col-6">
            <h1>
                Details für "Falafel"
            </h1>
        </div>
        <div class="col-3">
            <h2 style="text-align:right">
                <b>Gast</b>-Preis
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <fieldset class="border align-content-center">
                <legend class="scheduler-border">Login</legend>
                <div class="container center_div">
                    <input type="text" placeholder="Benutzer">
                    <input type="password" placeholder="password">
                    <a href="#"><u>Anmelden</u></a>
                </div>
            </fieldset>
        </div>
        <div class="col-6">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="/M2Git/Pics/falafel.jpg" alt="Falafel">
            </div>
        </div>
        <div class="col-3">
            <h2 style="text-align:right">5,95€</h2>
            <button type="button" style="align-self:auto"><i class="fas fa-utensils"></i>Vorbestellen</button>
        </div>
    </div>
    <div class="row">
    </div>
</div>
