@{
    Page.Title = "Produkte";
    Layout = "~/M2Git/_Layout.cshtml";
}
<div class="row">
    @ProdukteHelper.ProdukteGallery()
</div>
<!--
<div>
    <div class="row">
        <div class="offset-4 col-8">
            <h1>
                Verfügbare Speisen (Bestseller)
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

            <form>
                <fieldset class="border align-content-center">
                    <legend class="scheduler-border">Speisenliste filtern</legend>
                    <div class="container center_div">
                        <input list="Kategorien">
                        <datalist id="Kategorien">
                            <option value="Kategorie1">
                            <option value="Kategorie2">
                            <option value="Kategorie3">
                            <option value="Kategorie4">
                            <option value="Kategorie5">
                        </datalist>
                        <br>
                        <input type="checkbox"> nur verfügbare<br>
                        <input type="checkbox"> nur vegetarische<br>
                        <input type="checkbox"> nur vegane<br>
                        <button type="button">Speisen Filtern</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/wok.jpg" alt="Wok">
                    <div class="card-body">
                        <h5 class="card-title">Curry Wok</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/schnitzel.jpg" alt="Schnitzel">
                    <div class="card-body">
                        <h5 class="card-title">Schnitzel</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/bratrolle.jpg" alt="Bratrolle">
                    <div class="card-body">
                        <h5 class="card-title">Bratrolle</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/krautsalat.jpg" alt="krautsalat">
                    <div class="card-body">
                        <h5 class="card-title">Krautsalat</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/falafel.jpg" alt="Falafel">
                    <div class="card-body">
                        <h5 class="card-title">Falafel</h5>
                        <a href="/M2Git/Detail.cshtml" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/currywurst.jpg" alt="Currywurst">
                    <div class="card-body">
                        <h5 class="card-title">Currywurst</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/kaesestulle.jpg" alt="Kaesestulle">
                    <div class="card-body">
                        <h5 class="card-title">Kaesestulle</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/M2Git/Pics/spiegelei.jpg" alt="Spiegelei">
                    <div class="card-body">
                        <h5 class="card-title">Spiegelei</h5>
                        <a href="#" class="btn btn-primary"><u>Details</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    -->
