
@using MySql.Data.MySqlClient

@helper ZutatenTabelle()
{
/**/


try
{
    MySqlConnection con = new MySqlConnection("Server=localhost;Port=3306;Database=test;Uid=root;Pwd=Datenbank;");
    // hier öffnen Sie die Verbindung zu, DBMS
    con.Open();

    // so sieht die Query aus z.B. ... String Konkatenation mit "A" + "B" --> "AB"
    string query = "SELECT * FROM Zutaten ORDER BY Bio DESC , Name ASC;";

    // Achtung, Tür und TOr offen für SQL Injection Attacks, aber zu Demonstrationszwecken okay
    MySqlCommand command = new MySqlCommand(query, con);

    // SQL Befehl absetzen und direkt in "reader" speichern
    MySqlDataReader reader = command.ExecuteReader();

    // reader.Read();

        <h2>Zutaten</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Namen</th>
                    <th>Vegan</th>
                    <th>Vegetarisch</th>
                    <th>Glutenfrei</th>
                </tr>
            </thead>
            <tbody>
                @while (reader.Read())
                {
                    @ZuatenZeile(reader)
                }

            </tbody>
            <tfoot>
                <tr>
                    <td>Angaben Ohne Gewehr.</td>
                    <td>Häckchen = Ja, X = Nein</td>
                    <td>Häckchen = Ja, X = Nein</td>
                    <td>Häckchen = Ja, X = Nein</td>
                </tr>
            </tfoot>
        </table>
        con.Close();
    }
    catch (Exception ex)
    {
        <p class="danger">
            <br />@ex.Message
        </p>
    }

}


@helper ZuatenZeile(MySqlDataReader reader)
{
    <tr>
        <td>
            <a title="Suchen sie nach @reader["Name"] im Web." href="https://www.google.com/search?q=@reader["Name"]" target="_blank">@reader["Name"]</a>
            @{

                if ((bool)reader["Bio"])
                {
                    <img src="~/M2Git/Pics/2000px-Bio-Siegel-EG-Öko-VO-Deutschland.svg.png" alt="Bio Siegel" />
                }
            }
        </td>
        <td>
            @{if ((bool)reader["Vegan"])
                { <img src="~/M2Git/Pics/600px-Black_check.svg.png" alt="True" />}
                else
                { <img src="~/M2Git/Pics/X.png" alt="False" />}
            }
        </td>
        <td>
            @{if ((bool)reader["Vegetarisch"])
                { <img src="~/M2Git/Pics/600px-Black_check.svg.png" alt="True" />}
                else
                { <img src="~/M2Git/Pics/X.png" alt="False" />}
            }
        </td>
        <td>
            @{if ((bool)reader["Glutenfrei"])
                { <img src="~/M2Git/Pics/600px-Black_check.svg.png" alt="True" />}
                else
                { <img src="~/M2Git/Pics/X.png" alt="False" />}
            }
        </td>
    </tr>

}
